{% extends 'base.html.twig' %}
{% block body %}

    {% include "bip/header.html.twig" %}

    {#<div class="fos_user_user_show">#}
    {#<p>{{ 'profile.show.username'|trans }}: {{ user.username }}</p>#}
    {#<p>{{ 'profile.show.email'|trans }}: {{ user.email }}</p>#}
    {#</div>#}
    <div class="container index-container">
        <div class="index-container">
            <div class="row">
                <div class="col-md-3">
                    {% render(controller('AppBundle:BIP:menu', {'bip':bip.id})) %}
                </div>
                <div class="col-md-9">
                    <div class="panel panel-danger">
                        <div class="panel-heading">
                            {{ article.title }}
                        </div>
                        <div class="panel-body">
                            {{ article.content|raw }}
                            {% if sections %}
                                <div class="panel-default">
                                    <div class="panel-heading">
                                        READ MORE
                                    </div>
                                    <div class="panel panel-body">
                                        <ul class="list-group">
                                            {% for sec in sections %}
                                                <a class="list-group-item" href="{{ path('admin_view_article', {'art':sec.id}) }}">{{ sec.title }}</a>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                        <div class="panel-footer">
                                {{ article.author }}
                                {{ article.created|date('Y-m-d H:i:s') }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
