{% extends 'base.html.twig' %}
{% block body %}

<div class="container index-container">
    <div class="index-container">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-danger">
                    <div class="panel-heading">
                        Lista bipów (<b>{{ bips.getTotalItemCount }}</b>)
                    </div>
                    <div class="panel-body">
                        <table class="table table-stripped table-condensed table-hover">
                            <tr>
                                <th {% if bips.isSorted('bip.name') %} class="sorted" {% endif %}>{{ knp_pagination_sortable(bips, 'Nazwa', 'bip.name') }}</th>
                                <th {% if bips.isSorted('bip.url') %} class="sorted" {% endif %}>{{ knp_pagination_sortable(bips, 'URL', 'bip.url') }}</th>
                                <th>Podgląd</th>
                            </tr>
                            {% for bip in bips %}
                            <tr>
                                <td>{{ bip.name }}</td>
                                <td>{{ bip.url }}</td>
                                <td><a href="{{ path('bip', {'bip':bip.id}) }}">KLIK</a></td>
                            </tr>
                            {% endfor %}
                        </table>
                        <div class="navigation">
                            {{ knp_pagination_render(bips) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
