{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('css/nav.css') }}">
{% endblock %}
<header id="header" role="banner">
        <div id="navbar" class="navbar navbar-default row">
            <div class="navbar-header col-xs-4 navbar-left">
                <div class="navbar-brand" style="margin-top:-1em">
                        <a class="navbar-brand" href="{{ path('bip') }}">
                            <div class="navbar-brand-name">
                                <img src="{{ asset('img/bip.png') }}" class="img-responsive img-head">  
                                Biuletyn Informacji Publicznej
                            </div>
                        </a>
                </div>
            </div>
            <div class="col-xs-4 text-center">
                <img class="logo" src="{{ asset( bip.path ) }}"/>
            </div>
            <div class="collapse navbar-collapse col-xs-4 navbar-right">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="#">{{bip.name}}</a></li>
                    {% if is_granted('ROLE_BIPMOD') %}
                    <li><a href="{{ path('admin_view_profile') }}">Admin Panel</a></li>
                    {% else %}
                    <li><a href="{{ path('fos_user_security_login') }}">( ͡° ͜ʖ ͡°)</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
</header>