<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Gryf{% endblock %}</title>
        {% block stylesheets %}
            <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">
            <link href="{{ asset('css/main.css') }}" rel="stylesheet">
            <link rel="stylesheet" href="{{ asset('css/header.css') }}">
        {% endblock %}
        {% block javascripts %}
            <script src="{{  asset('js/jquery.js') }}"></script>
            <script src="{{ asset('js/bootstrap.min.js') }}"></script>
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}
        {% block content %}{% endblock %}
        {% endblock %}

    </body>

</html>
