{% extends 'base.html.twig' %}
{% block javascripts %}
{{ parent() }}
    <script src="//cdn.ckeditor.com/4.5.7/standard/ckeditor.js"></script>


{% endblock %}
{% block body %}

    {% include "user/header.html.twig" %}


    <div class="container index-container">
        <div class="index-container">
            <div class="row">
                <div class="col-md-3 fa-spin">
                    {% render(controller('AppBundle:BIP:menu', {'bip':bip.id})) %}
                </div>
                <div class="col-md-9">
                    <div class="panel panel-danger">
                        <div class="panel-heading">
                            Nowy artykuł
                        </div>
                        <div class="panel-body">
                            {% for m in app.session.flashbag.get('notice') %}
                                <div class="alert alert-success">{{ m }}</div>
                            {% endfor %}
                            <div class="row">
                                {{ form_start(form) }}
                                <div class="col-md-12">
                                    <div class="col-md-12 form-group">
                                        {{ form_widget(form.title, { 'attr': {'placeholder':'Nazwa', 'class':'form-control'} }) }}
                                    </div>
                                    <div class="col-md-12 form-group">
                                        {{ form_widget(form.menu, { 'attr': {'class':'form-control'} }) }}
                                    </div>
                                    <div class="col-md-12 form-group">
                                        {{ form_widget(form.content, { 'attr': {'placeholder':'treść', 'class':'form-control'} }) }}
                                    </div>
                                    <div class="col-md-12">
                                        {{ form_widget(form.save, { 'attr': {'class':'btn btn-danger btn-block'} }) }}
                                    </div>
                                </div>
                                <script>
                                    CKEDITOR.replace( 'form_content' );
                                </script>
                                {{ form_end(form) }}

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}