{% extends 'base.html.twig' %}

{% block body %}
    {% include "user/header.html.twig" %}

    <div class="container index-container">
        <div class="index-container">
            <div class="row">
                <div class="col-md-3">
                    {% render(controller('AppBundle:BIP:menu', {'bip':bip.id})) %}
                </div>
                <div class="col-md-9">
                    <div class="panel panel-danger">
                        <div class="panel-heading">
                            Nowy użytkownik
                        </div>
                        <div class="panel-body">
                                {{ form_start(form) }}
                                <div class="row">
                                    <div class="form-group col-md-12">
                                        <div class="form-group col-md-6">
                                            {{ form_widget(form.email, { 'attr': {'placeholder': 'email', 'class':'form-control'} }) }}
                                            {% if form_errors(form.email) %}
                                                <div class="alert alert-danger">{{ form_errors(form.email) }}</div>
                                            {% endif %}
                                        </div>
                                        <div class="form-group col-md-6">
                                            {{ form_widget(form.username, { 'attr': {'placeholder': 'usernaddme', 'class':'form-control'} }) }}
                                            {% if form_errors(form.username) %}
                                                <div class="alert alert-danger">{{ form_errors(form.username) }}</div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-12">
                                        <div class="form-group col-md-6">
                                            {{ form_widget(form.plainPassword.first, { 'attr': {'placeholder': 'hasło', 'class':'form-control'} }) }}
                                            {% if form_errors(form.plainPassword.first) %}
                                                <div class="alert alert-danger">{{ form_errors(form.plainPassword.first) }}</div>
                                            {% endif %}
                                        </div>
                                        <div class="form-group col-md-6">
                                            {{ form_widget(form.plainPassword.second, { 'attr': {'placeholder': 'powtórz hasło', 'class':'form-control'} }) }}
                                            {% if form_errors(form.plainPassword.second) %}
                                                <div class="alert alert-danger">{{ form_errors(form.plainPassword.second) }}</div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-12">
                                        <div class="form-group col-md-12">
                                            {{ form_widget(form.save, { 'attr': {'class': 'btn btn-danger btn-block'} } ) }}
                                            {{ form_widget(form._token) }}
                                        </div>
                                    </div>
                                </div>
                                {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}