{% extends 'base.html.twig' %}

{% block body %}
    {% include "user/header.html.twig" %}

    <div class="container index-container">
        <div class="index-container">
            <div class="row">
                <div class="col-md-3">
                    {% render(controller('AppBundle:BIP:menu', {'bip':bip.id})) %}
                </div>
                <div class="col-md-9">
                    <div class="panel panel-danger">
                        <div class="panel-heading">
                            Edycja danych BIPu
                        </div>
                        <div class="panel-body">
                            {% for m in app.session.flashbag.get('notice') %}
                                <div class="alert alert-success">{{ m }}</div>
                            {% endfor %}
                            <div class="row form-group">
                                {{ form_start(form, { 'attr': {'novalidate': 'novalidate'}}) }}
                                <div class="col-md-6">
                                      <div class="{% if(form_errors(form.name)) %} has-error {% endif %}">
                                        {{ form_widget(form.name, { 'attr': {'placeholder': 'nazwa BiPu', 'class':'form-control'} }) }}
                                        {{ form_errors(form.name) }}
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    {{ form_widget(form.file) }}
                                </div>
                                <div class="col-md-2">
                                    {{ form_widget(form.save, { 'attr': {'class': 'btn btn-danger btn-block'} } ) }}
                                    {{ form_widget(form._token) }}
                                </div>
                                {{ form_end(form) }}
                            </div>
                                {% if bip.public == 1 %}
                                    <div class="alert alert-success col-md-12">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <b>Status</b>: PUBLIC
                                            </div>
                                            <div class="col-md-6">
                                                <a href="{{ path('admin_manage_public') }}" class="btn btn-danger btn-block">Zmień status</a>
                                            </div>
                                        </div>
                                    </div>
                                {% elseif bip.public == 0 %}
                                    <div class="alert alert-danger col-md-12">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <b>Status</b>: not PUBLIC yet
                                            </div>
                                            <div class="col-md-6">
                                                <a href="{{ path('admin_manage_public') }}" class="btn btn-danger btn-block">Zmień status</a>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            <table class="table table-stripped table-hover">
                                <tr>
                                    <th>ART</th>
                                    <th>EDIT</th>
                                </tr>
                                {% for art in musthave %}
                                    <tr>
                                        <td><a href="{{ path('static_art_view',{'art':art.id}) }}">{{ art.title }}</a></td>
                                        <td><a href="{{ path('admin_edit_static_art',{'art':art.id}) }}"><i class="fa fa-pencil"></i></a></td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}