{% extends 'base.html.twig' %}

{% block body %}
    {% include "user/header.html.twig" %}

    <div class="container index-container">
        <div class="index-container">
            <div class="row">
                <div class="col-md-3">
                    {% render(controller('AppBundle:BIP:menu', {'bip':bip.id})) %}
                </div>
                <div class="col-md-9">
                    <div class="panel panel-danger">
                        <div class="panel-heading">
                            Edycja danych BIPu
                        </div>
                        <div class="panel-body">
                            {% for m in app.session.flashbag.get('notice') %}
                                <div class="alert alert-success">{{ m }}</div>
                            {% endfor %}
                            <div class="row">
                                {{ form_start(form) }}
                                <div class="col-md-9">
                                    {{ form_widget(form.name, { 'attr': {'placeholder': 'nazwa BIP', 'class':'form-control'} } ) }}
                                    {% if form_errors(form.name) %}
                                        <div class="alert alert-danger">{{ form_errors(form.name) }}</div>
                                    {% endif %}
                                </div>
                                <div class="col-md-3">
                                    {{ form_widget(form.save, { 'attr': {'class': 'btn btn-danger btn-block'} } ) }}
                                    {{ form_widget(form._token) }}
                                </div>
                                {{ form_end(form) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}