{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('css/nav.css') }}">
{% endblock %}
<div id="header" role="banner">
        <div id="navbar" class="navbar navbar-default">
            {# <div class="navbar-header"> #}
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="navbar-brand" style="margin-top:-1em">
                		<a class="navbar-brand" href="{{ path('bip', {'bip':bip.id}) }}">
                			<div class="navbar-brand-name">
								<img style="max-width: 60px;margin-top:-0.4em;"
                				src="{{ asset('img/bip.png') }}" classs="img-responsible"/>	
                				Biuletyn Informacji Publicznej
                			</div>
                		</a>
                </div>
            {# </div> #}
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="dLabel"><i class="fa fa-arrow-down"></i>{{bip.name}}</a>
                        <ul class="dropdown-menu" aria-labelledby="dLabel">
                            <li><a href="{{ path('admin_edit_dane', {'bip':bip.id}) }}">Edytuj dane</a></li>
                        </ul>
                    </li>   
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="fa fa-arrow-down"></i>Zarządzaj treścią</a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('admin_view_art', {'bip':bip.id}) }}">Artykuły</a></li>
                            <li><a href="{{ path('admin_add_menu', {'bip':bip.id}) }}">Menu</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="{{ path('fos_user_security_logout') }}">Wyloguj</a></li>
                </ul>
            </div>
        </div>
</div>
{% block javascript %}

{% endblock %}