{% extends 'base.html.twig' %}
{% block body %}

    {% include "user/header.html.twig" %}

    {#<div class="fos_user_user_show">#}
    {#<p>{{ 'profile.show.username'|trans }}: {{ user.username }}</p>#}
    {#<p>{{ 'profile.show.email'|trans }}: {{ user.email }}</p>#}
    {#</div>#}
    <div class="container index-container">
        <div class="index-container">
            <div class="row">
                <div class="col-md-3">
                    {% render(controller('AppBundle:BIP:menu', {'bip':bip.id})) %}
                </div>
                <div class="col-md-9">
                    <div class="panel panel-danger">
                        <div class="panel-heading">
                            Artykuły
                        </div>
                        <div class="panel-body">
                            <div class="table table-hover table-condensed table-stripped row">
                                <div class="col-md-4">Tytuł</div>
                                <div class="col-md-4">Menu</div>
                                <div class="text-center">Edytuj</div>
                                <div class="text-center">Usuń</div>
                            </div>
                                {% for art in articles %}
                                    <div class="row">
                                        <div><a href="{{ path('admin_view_article', {'bip':bip.id, 'art':art.id}) }}">{{ art.title }}</a></div>
                                        <div class="panel-group nav"><a data-toggle="collapse" href="#{{art.title}}">{{ art.menu.name }}</a></div>
                                        <div class="text-center"><a href="{{ path('admin_edit_art', {'bip':bip.id, 'art':art.id }) }}"><i class="fa fa-pencil fa-fw"></i></a></div>
                                        <div class="text-center"><a href="{{ path('admin_remove_art', {'bip':bip.id, 'art':art.id}) }}"> <i class="fa fa-trash-o fa-lg"></i> </a></div>
                                    </div>
                                <div id="{{art.title}}" class="panel-collapse collapse nav">
                                    <ul class="list-group nav nav-stacked nav-pills">
                                    {% for sec in articles %}
                                        {% if sec.section != null %}
                                            <li class="list-item-group">{{sec.section.title}}</li>
                                        {% endif %}
                                    {% endfor %}
                                    <li class="list-item-group"><i class="fa fa-plus"></i><a href="">Dodaj nową sekcję</a></li>
                                    </ul>
                                </div>
                                {% endfor %}
                            <a class="btn btn-danger btn-block" href="{{ path('admin_add_art', {'bip':bip.id}) }}">NOWY</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
