{% extends 'base.html.twig' %}
{% block body %}

    {% include "user/header.html.twig" %}

    {#<div class="fos_user_user_show">#}
    {#<p>{{ 'profile.show.username'|trans }}: {{ user.username }}</p>#}
    {#<p>{{ 'profile.show.email'|trans }}: {{ user.email }}</p>#}
    {#</div>#}
    <div class="container index-container">
        <div class="index-container">
            <div class="row">
                <div class="col-md-3">
                    {% render(controller('AppBundle:BIP:menu', {'bip':bip.id})) %}
                </div>
                <div class="col-md-9">
                    <div class="panel panel-danger">
                        <div class="panel-heading">
                            Artykuły
                        </div>
                        <div class="panel-body">
                            <div class="row nav">
                                <div class="col-md-4 nazwa">Tytuł</div>
                                <div class="col-md-4 nazwa">Menu</div>
                                <div class="col-md-2 nazwa text-center">Edytuj</div>
                                <div class="col-md-2 nazwa text-center">Usuń</div>
                            </div>
                            {% for art in articles %}
                                <div class="row">
                                    <div class="col-md-3 lista"><a href="{{ path('admin_view_article', {'bip':bip.id, 'art':art.id}) }}">{{ art.title }}</a></div>
                                    <div class="col-md-5 lista"><a data-toggle="collapse" href="#{{art.title}}">{{ art.menu.name }} <i class="fa fa-level-down"></i></a></div>
                                    <div class="col-md-2 lista text-center"><a href="{{ path('admin_edit_art', {'bip':bip.id, 'art':art.id }) }}"><i class="fa fa-pencil fa-fw"></i></a></div>
                                    <div class="col-md-2 lista text-center"><a href="{{ path('admin_remove_art', {'bip':bip.id, 'art':art.id}) }}"> <i class="fa fa-trash-o fa-lg"></i> </a></div>
                                </div>
                            <div class="row">
                                <div id="{{art.title}}" class="panel-collapse collapse nav">
                                    <ul class="list-group nav nav-stacked nav-pills">
                                    {% for sec in sections %}
                                        {% if sec.section.id == art.id %}
                                            <li class="list-item-group lista" style="height: 4em;">
                                                <div class="col-md-3"></div>
                                                <div class="col-md-5"><i class=""></i><a href="{{ path('admin_view_article', {'bip':bip.id, 'art':sec.id}) }}">{{sec.title}}</a></div>
                                                <div class="col-md-2 lista text-center"><a href="{{ path('admin_edit_art', {'bip':bip.id, 'art':sec.id }) }}"><i class="fa fa-pencil"></i></a></div>
                                                <div class="col-md-2 lista text-center"><a href="{{ path('admin_remove_art', {'bip':bip.id, 'art':sec.id}) }}"> <i class="fa fa-trash-o"></i> </a></div>
                                                </li>
                                        {% endif %}
                                    {% endfor %}
                                    <li class="list-item-group lista">
                                        <div class="col-md-3"></div>
                                        <div class="col-md-5"><a href="{{ path('admin_add_section', {'bip':bip.id, 'art':art.id}) }}"><i class="fa fa-plus"></i>Dodaj nową sekcję</a></div>
                                        <div class="col-md-2"></div>
                                        <div class="col-md-2"></div>
                                    </li>
                                    </ul>
                                </div>
                            </div>
                                {% endfor %}
                            <a style="margin-top:1em" class="btn btn-danger btn-block" href="{{ path('admin_add_art', {'bip':bip.id}) }}">NOWY</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
