{% extends 'base.html.twig' %}
{% block body %}

    {% include "user/header.html.twig" %}

    {#<div class="fos_user_user_show">#}
    {#<p>{{ 'profile.show.username'|trans }}: {{ user.username }}</p>#}
    {#<p>{{ 'profile.show.email'|trans }}: {{ user.email }}</p>#}
    {#</div>#}
    <div class="container index-container">
        <div class="index-container">
            <div class="row">
                <div class="col-md-3">
                    {% render(controller('AppBundle:BIP:menu', {'bip':bip.id})) %}
                </div>
                <div class="col-md-9">
                    <div class="panel panel-danger">
                        <div class="panel-heading">
                            Spis użytkowników
                        </div>
                        <div class="panel-body">
                {% for m in app.session.flashbag.get('notice') %}
                    <div class="alert alert-success">{{ m }}</div>
                {% endfor %}
                <table class="table table-hover table-stripepd table-condensed">
                    <tr>
                        <th width="30%">Email</th>
                        <th width="30%">LOGIN</th>
                        <th class="text-center" width="20%">Edytuj</th>
                        <th class="text-center" width="20%">Usuń</th>
                    </tr>
                    {% for user in users %}
                        <tr>
                            <td width="30%">{{ user.email }}</td>
                            <td width="30%">{{ user.username }}</td>
                            <td class="text-center" width="20%"><a href="{{ path('admin_user_edit', {'user':user.id}) }}"><i class="fa fa-pencil"></i></a></td>
                            <td class="text-center" width="20%"><a href="{{ path('admin_user_remove', {'user':user.id}) }}"><i class="fa fa-remove"></i></a></td>
                        </tr>
                    {% endfor %}
                </table>
                {#<div class="navigation">#}
                    {#{{ knp_pagination_render(bips) }}#}
                {#</div>#}
            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
