{% extends 'base.html.twig' %}
{% block body %}

    {% include "user/header.html.twig" %}

<div class="container index-container">
    <div class="index-container">
        <div class="row">
            <div class="col-md-3">
               {% render(controller('AppBundle:BIP:menu', {'bip':bip.id})) %}
            </div>
                <div class="col-md-9">
                    <div class="panel panel-danger">
                        <div class="panel-heading">
                            Zarząd
                        </div>
                        <div class="panel-body">
                            {% for m in app.session.flashbag.get('notice') %}
                                <div class="alert alert-success">{{ m }}</div>
                            {% endfor %}
                            <ul class="list-group panel">
                            {% for org in organy %}
                                <li class="list-group-item"><a><h3>{{ org.organ }}</h3></a></li>
                                <div id="za{{org.id}}" class="">
                                    <ul class="list-group">
                                        {% for guy in org.members %}
                                            <li class="list-group-item">{{guy.firstname}} {{guy.lastname}}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% endfor %}
                            </ul>
                            <div class="col-md-6">
                            <h2><a data-toggle="collapse" href="#organ"><i class="fa fa-plus-square"></i> Dodaj organ:</a></h2>
                            <div id="organ" class="collapse">
                            {{form_start(form_organ)}}
                                {{form_widget(form_organ)}}
                                <input type="submit" class="btn btn-danger btn-block">
                            {{form_end(form_organ)}}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <h2><a data-toggle="collapse" href="#member"><i class="fa fa-plus-square"></i> Dodaj członka:</a></h2>
                            <div id="member" class="collapse">
                            {{form_start(form_member)}}
                                {{form_widget(form_member)}}
                                <input type="submit" class="btn btn-danger btn-block">
                            {{form_end(form_member)}}
                            </div>
                        </div>
                        </div>
                        <div class="panel-footer">
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}