{% extends 'base.html.twig' %}
{% block body %}

    {% include "user/header.html.twig" %}

<div class="container index-container">
    <div class="index-container">
        <div class="row">
            <div class="col-md-3">
               {% render(controller('AppBundle:BIP:menu', {'bip':bip.id})) %}
            </div>
                <div class="col-md-9">
                    <div class="panel panel-danger">
                        <div class="panel-heading">
                            Zarząd
                        </div>
                        <div class="panel-body">
                            {% for m in app.session.flashbag.get('notice') %}
                                <div class="alert alert-success">{{ m }}</div>
                            {% endfor %}
                        <div class="row">
                            <h3>
                            <div class="col-xs-6">Nazwa</div>
                            <div class="col-xs-3 text-center">Edytuj</div>
                            <div class="col-xs-3 text-center">Usuń</div>
                            </h3>
                        </div>
                            <ul class="list-group panel kk">
                            {% for org in organy %}
                                <li class="list-group-item row" style="margin-bottom:1.8em;">
                                    <h3>
                                    <div class="col-xs-6">{{ org.organ }}</div>
                                    <div class="col-xs-3 text-center center"><a href="{{ path('admin_management_organ', {'organ':org.id}) }}"><i class="fa fa-pencil"></i></a></div>
                                    <div class="col-xs-3 text-center center"><a href="{{ path('admin_management_organ_remove', {'organ':org.id}) }}"><i class="fa fa-trash-o"></i></a></div>
                                    </h3>
                                </li>
                                <div class="">
                                    <ul class="list-group k">
                                        {% for guy in org.members %}
                                            <li class="list-group-item row">
                                                <div class="col-xs-6">{{guy.firstname}} {{guy.lastname}}</div>
                                                <div class="col-xs-3 text-center"><a href="{{ path('admin_management_member', {'member':guy.id}) }}"><i class="fa fa-pencil"></i></a></div>
                                                <div class="col-xs-3 text-center"><a href="{{ path('admin_management_member_remove', {'member':guy.id}) }}"><i class="fa fa-trash-o"></i></a></div>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% endfor %}
                            </ul>
                            <div class="row">
                                <div class="col-md-6">
                                    <h2><a data-toggle="collapse" href="#organ"><i class="fa fa-plus-square"></i> Dodaj organ:</a></h2>
                                    <div id="organ" class="collapse">
                                    {{form_start(form_organ)}}
                                        {{form_widget(form_organ)}}
                                        <input type="submit" class="btn btn-danger btn-block">
                                    {{form_end(form_organ)}}
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <h2><a data-toggle="collapse" href="#member"><i class="fa fa-plus-square"></i> Dodaj członka:</a></h2>
                                    <div id="member" class="collapse">
                                    {{form_start(form_member)}}
                                        {{form_widget(form_member)}}
                                        <input type="submit" class="btn btn-danger btn-block">
                                    {{form_end(form_member)}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer text-right">
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}