{% extends 'base.html.twig' %}

{% block body %}
    {% include 'master/header.html.twig' %}
    <div class="container">
        <div class="panel panel-danger">
            <div class="panel-heading">
                Edycja użytkownika
            </div>
            <div class="panel-body">
                {% for m in app.session.flashbag.get('notice') %}
                    <div class="alert alert-success">{{ m }}</div>
                {% endfor %}
                {{ form_start(form) }}
                <div class="row form-group">
                    <div class="col-md-6">
                        <div class="{% if(form_errors(form.nazwisko)) %} has-error {% endif %}">
                            {{ form_widget(form.nazwisko, { 'attr': {'placeholder': 'Nazwisko', 'class':'form-control'} }) }}
                            {{ form_errors(form.nazwisko) }}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="{% if(form_errors(form.imie)) %} has-error {% endif %}">
                            {{ form_widget(form.imie, { 'attr': {'placeholder': 'Imie', 'class':'form-control'} }) }}
                            {{ form_errors(form.imie) }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5">
                            <div class="{% if(form_errors(form.username)) %} has-error {% endif %}">
                                {{ form_widget(form.username, { 'attr': {'placeholder': 'nazwa BiPu', 'class':'form-control'} }) }}
                                {{ form_errors(form.username) }}
                            </div>
                    </div>  
                    <div class="col-md-5" >
                            <div class="{% if(form_errors(form.email)) %} has-error {% endif %}">
                                {{ form_widget(form.email, { 'attr': {'placeholder': 'email', 'class':'form-control'} }) }}
                                {{ form_errors(form.email) }}
                            </div>
                    </div>
                    <div class="col-md-2">
                        {{ form_widget(form.save, { 'attr': {'class': 'btn btn-danger btn-block'} } ) }}
                        {{ form_widget(form._token) }}
                    </div>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}