{% extends 'base.html.twig' %}

{% block body %}
    {% include 'master/header.html.twig' %}
    <div class="container">
        <div class="panel panel-danger">
            <div class="panel-heading">
                Nowe hasło użytkownika {{ user.username }} ({{ user.nazwisko }} {{ user.imie }})
            </div>
            <div class="panel-body">
                {{ form_start(form) }}
                <div class="row form-group">
                    <div class="form-group col-md-6">
                        {{ form_widget(form.plainPassword.first, { 'attr': {'placeholder': 'hasło', 'class':'form-control'} }) }}
                        {% if form_errors(form.plainPassword.first) %}
                            <div class="alert alert-danger">{{ form_errors(form.plainPassword.first) }}</div>
                        {% endif %}
                    </div>
                    <div class="form-group col-md-6">
                        {{ form_widget(form.plainPassword.second, { 'attr': {'placeholder': 'powtórz hasło', 'class':'form-control'} }) }}
                        {% if form_errors(form.plainPassword.second) %}
                            <div class="alert alert-danger">{{ form_errors(form.plainPassword.second) }}</div>
                        {% endif %}
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-12">
                        {{ form_widget(form.save, { 'attr': {'class': 'btn btn-danger btn-block'} } ) }}
                        {{ form_widget(form._token) }}
                    </div>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}