{% extends 'base.html.twig' %}

{% block body %}
    {% include 'master/header.html.twig' %}
    <div class="container">
        <div class="panel panel-danger">
            <div class="panel-heading">
                Lista użytkowników (<b>{{ users.getTotalItemCount }}</b>)
            </div>
            <div class="panel-body">
                {% for m in app.session.flashbag.get('notice') %}
                    <div class="alert alert-success">{{ m }}</div>
                {% endfor %}
                <table class="table table-hover table-stripepd table-condensed">
                    <tr>
                        <th width="30%">{{ knp_pagination_sortable(users, 'BIP', 'user.bip.name') }}</th>
                        <th width="15%">{{ knp_pagination_sortable(users, 'email', 'user.email') }}</th>
                        <th width="15%">{{ knp_pagination_sortable(users, 'login', 'user.username') }}</th>
                        <th width="15%">{{ knp_pagination_sortable(users, 'nazwisko', 'user.nazwisko') }}</th>
                        <th width="15%">{{ knp_pagination_sortable(users, 'imie', 'user.imie') }}</th>
                        <th class="text-center" width="4%">Role</th>
                        <th class="text-center" width="3%">Edytuj</th>
                        <th class="text-center" width="3%">Usuń</th>
                    </tr>
                    {% for user in users %}
                        <tr>
                            <td width="30%">{{ user.bip.name }}</td>
                            <td width="15%">{{ user.email }}</td>
                            <td width="15%">{{ user.username }}</td>
                            <td width="15%">{{ user.nazwisko }}</td>
                            <td width="15%">{{ user.imie }}</td>
                            <td width="4%">{% for role  in user.roles %}{{ role }}<br>{% endfor %}</td>
                            <td class="text-center" width="3%"><a href="{{ path('master_edit_user', {'user':user.id}) }}"><i class="fa fa-pencil"></i></a></td>
                            <td class="text-center" width="3%"><a href="{{ path('master_remove_user', {'user':user.id}) }}"><i class="fa fa-remove"></i></a></td>
                        </tr>
                    {% endfor %}
                </table>
                <div class="navigation">
                    {{ knp_pagination_render(users) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}